.btn {
    padding: 10px;
    border: 1px solid slateblue;
    border-radius: 5px;
    outline: none;
    background: cornflowerblue;
    color: white;
    font-size: 16px;
}

.btn:hover {
    cursor: pointer;
}